@font-face {
  font-family: paper200;
  src: url(./Editorial\ New-Ultralight.otf);
}
@font-face {
  font-family: paper400;
  src: url(./EditorialNew-Regular.otf);
}
@font-face {
  font-family: canopee;
  src: url(./Canopee\ Regular.otf);
}
@font-face {
  font-family: spam;
  src: url(./TestDomaineDisplayCondensed-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Editorial New", serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(205, 198, 190);
}

html {
  font-size: clamp(7px, 1vw, 18px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: clamp(10px, 10vh, 100px);
  padding: 0 2rem;
  border-bottom: 2px solid rgb(29, 29, 27);
  width: 100%;
}
nav .nl {
  font-family: paper200;
  font-weight: 200;
  font-size: 1rem;
}
nav .logo {
  width: 150px;
}
nav .line {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}
nav .line .line1 {
  width: 35px;
  height: 1.5px;
  background-color: rgb(29, 29, 27);
}
nav .line .line2 {
  width: 35px;
  height: 1.5px;
  background-color: rgb(29, 29, 27);
}
nav .line:hover .line1 {
  margin-left: 5px;
}
nav .line:hover .line2 {
  margin-right: 5px;
}

main {
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "works works works" "first first first" "second third third" "forth forth forth" "fifth fifth sixth" "seventh seventh seventh" "eight eight eight" "nineth nineth nineth" "works2 works2 works2" "email email email" "footer footer footer";
}
main .works {
  grid-area: works;
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 2rem;
}
main .works .fistwork {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 2rem;
  padding: 0 2rem 0 0;
}
main .works .fistwork .box {
  width: 100%;
  border: 1px solid rgb(29, 29, 27);
  overflow: hidden;
}
main .works .fistwork .box img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
main .works .fistwork .box img:hover {
  transform: scale(1.1);
}
main .works .fistwork .h1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .works .fistwork .h1 img {
  width: 5rem;
}
main .works .fistwork .h1 span {
  font-family: canopee;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: rgb(186, 50, 0);
  padding: 2px 3px 0px 3px;
  color: rgb(205, 198, 190);
  border-radius: 5px;
}
main .works .fistwork p {
  font-family: paper200;
  font-weight: 100;
  font-size: 1.2rem;
}
main .works .allworks {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-right: 1px solid rgb(29, 29, 27);
  border-left: 1px solid rgb(29, 29, 27);
}
main .works .allworks h1 {
  font-family: canopee;
  font-size: 4.5rem;
  color: rgb(29, 29, 27);
  position: relative;
}
main .works .allworks h1 span {
  font-family: spam;
}
main .works .allworks h1 svg {
  width: 80px;
  height: 70px;
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-20%, -50%);
  transform: scaleX(4);
}
main .works .allworks h1 svg circle {
  fill: none;
  stroke: black;
  stroke-width: 3;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  transition: stroke-dashoffset 2s linear;
}
main .works .allworks h1 svg:hover circle {
  stroke-dashoffset: 0;
}
main .works .allworks h4 {
  text-align: center;
  font-family: paper200;
  font-weight: 100;
  font-size: 2.5rem;
  padding: 0 2rem;
  line-height: 2.5rem;
}
main .works .allworks p {
  font-family: paper200;
  font-size: 1.3rem;
}
main .works .allworks p span {
  font-family: canopee;
  font-weight: 500;
  font-size: 1.5rem;
}
main .works .scondwork {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 2rem;
  padding: 0 0 0 2rem;
}
main .works .scondwork .box {
  width: 100%;
  border: 1px solid rgb(29, 29, 27);
  overflow: hidden;
}
main .works .scondwork .box img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
main .works .scondwork .box img:hover {
  transform: scale(1.1);
}
main .works .scondwork .h1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .works .scondwork .h1 img {
  width: 8rem;
}
main .works .scondwork .h1 span {
  font-family: canopee;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: rgb(186, 50, 0);
  padding: 2px 3px 0px 3px;
  color: rgb(205, 198, 190);
  border-radius: 5px;
}
main .works .scondwork p {
  font-family: paper200;
  font-weight: 100;
  font-size: 1.2rem;
}
main .first {
  grid-area: first;
  margin-top: 4rem;
}
main .first h1 {
  font-family: canopee;
  font-size: 35vw;
  letter-spacing: -1.5vw;
  line-height: 0.75;
  background-color: rgb(29, 29, 27);
  color: rgb(205, 198, 190);
  padding: 3vw 1vw 0vw 2vw;
  font-weight: 100;
}
main .second {
  grid-area: second;
  padding-right: 2rem;
  margin-top: 3rem;
  border-right: 1px solid rgb(29, 29, 27);
}
main .second h3 {
  font-family: canopee;
  font-size: 8vw;
  color: rgb(29, 29, 27);
  font-weight: 200;
  letter-spacing: -0.3vw;
  margin: -5vw 0 -2vw 0;
}
main .second h3 span {
  font-family: spam;
}
main .second h1 {
  font-family: canopee;
  font-size: 14vw;
  color: rgb(29, 29, 27);
  font-weight: 500;
  line-height: -0.5;
  letter-spacing: -0.8vw;
  margin: -4vw 0 -2vw 0;
}
main .second img {
  width: 100%;
  border: 1px solid rgb(29, 29, 27);
}
main .second .info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
main .second .info span {
  font-family: canopee;
  font-weight: 500;
  font-size: 8rem;
  margin: 0;
  color: rgb(205, 198, 190);
  background-color: black;
  line-height: 0.8;
  padding: 0.5rem 0.2rem 0rem 0.2rem;
}
main .second .info p {
  font-family: paper200;
  font-size: 2rem;
}
main .second p {
  font-family: paper200;
  font-size: 2rem;
}
main .third {
  grid-area: third;
  background-color: rgb(205, 198, 190);
  margin-left: 2rem;
  margin-top: 3rem;
}
main .third img {
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid rgb(29, 29, 27);
}
main .third h3 {
  font-family: canopee;
  font-size: clamp(7rem, 8.5vw, 10rem);
  line-height: 0.8;
  letter-spacing: -0.4rem;
  font-weight: 100;
  color: rgb(29, 29, 27);
}
main .third h3 span {
  font-family: spam;
}
main .forth {
  grid-area: forth;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
}
main .forth h1 {
  font-family: canopee;
  font-size: 29.5vw;
  letter-spacing: -1.5vw;
  line-height: 0.75;
  background-color: rgb(29, 29, 27);
  color: rgb(205, 198, 190);
  padding: 3vw 2vw 0vw 0.5vw;
  font-weight: 100;
}
main .forth img {
  width: 100%;
}
main .fifth {
  grid-area: fifth;
  margin-top: 3rem;
  margin-right: 2rem;
}
main .fifth .text {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
main .fifth .text .box1 {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-right: 1px solid rgb(29, 29, 27);
  padding-right: 1rem;
}
main .fifth .text .box1 h1 {
  font-weight: 100;
  font-family: canopee;
  font-size: 4rem;
  color: rgb(29, 29, 27);
}
main .fifth .text .box1 h1 span {
  font-weight: 100;
  font-family: spam;
}
main .fifth .text .box1 h3 {
  font-weight: 100;
  font-family: paper200;
  font-size: 2.5rem;
  color: rgb(29, 29, 27);
  line-height: 0.9;
}
main .fifth .text .box1 p {
  font-weight: 100;
  font-family: paper200;
  font-size: 1.5rem;
  margin-top: 1rem;
}
main .fifth .text .box1 p span {
  font-weight: 500;
  font-family: canopee;
}
main .fifth .text .box2 {
  width: 55%;
  padding: 0 2rem 0 1rem;
}
main .fifth .text .box2 .box {
  width: 100%;
  border: 1px solid rgb(29, 29, 27);
  overflow: hidden;
}
main .fifth .text .box2 .box img {
  width: 100%;
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}
main .fifth .text .box2 .box img:hover {
  transform: scale(1.1);
}
main .fifth .text .box2 h1 {
  font-family: canopee;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(29, 29, 27);
}
main .fifth .text .box2 p {
  font-family: paper200;
  font-size: 1.2rem;
}
main .fifth img {
  width: 100%;
  border: 1px solid rgb(29, 29, 27);
}
main .sixth {
  margin-top: 1rem;
  padding-left: 2rem;
  grid-area: sixth;
  border-left: 1px solid rgb(29, 29, 27);
}
main .sixth h3 {
  font-size: 7.8vw;
  font-family: canopee;
  font-weight: 100;
  letter-spacing: -0.3rem;
}
main .sixth h3 span {
  font-family: spam;
}
main .sixth h1 {
  font-family: canopee;
  font-weight: 100;
  font-size: 13vw;
  letter-spacing: -0.3rem;
  line-height: 0.6;
}
main .sixth .info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
main .sixth .info span {
  font-family: canopee;
  font-weight: 500;
  font-size: 8rem;
  color: rgb(205, 198, 190);
  background-color: black;
  line-height: 0.8;
  padding: 0.5rem 0.2rem 0rem 0.2rem;
}
main .sixth .info p {
  font-family: paper200;
  font-size: 2rem;
}
main .sixth P1 {
  font-family: paper200;
  font-size: 2rem;
}
main .sixth > p {
  font-family: paper200;
  font-size: 2rem;
  margin-top: 3rem;
}
main .sixth .box {
  width: 100%;
  height: 20%;
  border: 1px solid rgb(29, 29, 27);
  position: relative;
  margin-top: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(212, 207, 202);
}
main .sixth .box h1 {
  font-size: 6vw;
  font-family: canopee;
  font-weight: 100;
  letter-spacing: -0.3rem;
  position: absolute;
  left: 20%;
  transition: all 0.3s ease-in-out;
}
main .sixth .box h1 span {
  font-family: spam;
}
main .sixth .box img {
  width: 50%;
  position: absolute;
  left: -50%;
  transition: all 0.3s ease-in-out;
}
main .sixth .box:hover h1 {
  left: 100%;
}
main .sixth .box:hover img {
  left: 20%;
}
main .seventh {
  grid-area: seventh;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid rgb(29, 29, 27);
  border-bottom: 1px solid rgb(29, 29, 27);
}
main .seventh .boxfirst, main .seventh .boxsecond, main .seventh .boxthird, main .seventh .boxfourth {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .seventh .boxfirst .text, main .seventh .boxsecond .text, main .seventh .boxthird .text, main .seventh .boxfourth .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .seventh .boxfirst .text p, main .seventh .boxsecond .text p, main .seventh .boxthird .text p, main .seventh .boxfourth .text p {
  font-family: paper200;
  font-size: 1.5rem;
}
main .seventh .boxfirst .text h1, main .seventh .boxsecond .text h1, main .seventh .boxthird .text h1, main .seventh .boxfourth .text h1 {
  font-family: canopee;
  font-size: 4rem;
  font-weight: 100;
}
main .seventh .boxfirst h1, main .seventh .boxsecond h1, main .seventh .boxthird h1, main .seventh .boxfourth h1 {
  font-family: paper800;
  font-size: 9.5vw;
  font-weight: 100;
}
main .eight {
  grid-area: eight;
  margin-top: 3rem;
}
main .eight .box1 {
  display: flex;
  flex-direction: row;
  height: 45%;
  margin-bottom: 3rem;
}
main .eight .box1 .text {
  display: flex;
  width: 50%;
  aspect-ratio: 1/1;
}
main .eight .box1 .text img {
  height: 50%;
  border: 1px solid rgb(29, 29, 27);
}
main .eight .box1 .text h1 {
  font-family: canopee;
  font-size: 30vw;
  font-weight: 100;
  line-height: 0.8;
  letter-spacing: -0.7rem;
  display: block;
  margin-left: 1vw;
}
main .eight .box1 .text h1 span {
  font-family: canopee;
  margin-left: -13.5vw;
  letter-spacing: -1rem;
}
main .eight .box1 .img {
  width: 50%;
  height: 50%;
  border: 1px solid rgb(29, 29, 27);
}
main .eight .box1 .img img {
  width: 100%;
}
main .eight .box2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
main .eight .box2 img {
  width: 23.5%;
  height: 20%;
  aspect-ratio: 1/1;
  border: 1px solid rgb(29, 29, 27);
}
main .eight .box2 h1 {
  font-family: canopee;
  font-size: 32vw;
  font-weight: 500;
  line-height: 0.65;
  letter-spacing: -1.3rem;
}
main .eight .box2 h1 span {
  font-family: spam;
}
main .eight .box3 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
main .eight .box3 > h1 {
  font-family: canopee;
  font-size: 26vw;
  font-weight: 100;
  line-height: 0.8;
  letter-spacing: -1rem;
  padding-top: 2rem;
  padding-right: 1rem;
  color: rgb(212, 207, 202);
  background-color: black;
}
main .eight .box3 .info h3 {
  font-family: paper200;
  font-size: 2rem;
  font-weight: 100;
}
main .eight .box3 .info h1 {
  font-family: canopee;
  font-size: 6rem;
  font-weight: 100;
}
main .eight .box3 .info p {
  font-family: paper200;
  font-size: 2rem;
}
main .nineth {
  grid-area: nineth;
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 50vh;
}
main .nineth .box1, main .nineth .box2, main .nineth .box3, main .nineth .box4 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 3rem;
  border: 3px solid rgb(29, 29, 27);
  outline: 2px dashed rgb(0, 0, 0);
  outline-offset: -12px;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgb(29, 29, 27);
  padding: 2rem;
  position: absolute;
  width: 40%;
  background-color: rgb(212, 207, 202);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  scrollbar-width: none;
}
main .nineth .box1 p, main .nineth .box2 p, main .nineth .box3 p, main .nineth .box4 p {
  font-family: paper200;
  font-size: 2rem;
}
main .nineth .box1 .info, main .nineth .box2 .info, main .nineth .box3 .info, main .nineth .box4 .info {
  display: flex;
  flex-direction: column;
}
main .nineth .box1 .info h1, main .nineth .box2 .info h1, main .nineth .box3 .info h1, main .nineth .box4 .info h1 {
  font-family: canopee;
  font-size: 3rem;
  font-weight: 100;
}
main .nineth .box1 .info p, main .nineth .box2 .info p, main .nineth .box3 .info p, main .nineth .box4 .info p {
  font-family: paper200;
  font-size: 1.5rem;
}
main .nineth .box1 {
  left: 0;
  top: 0;
  z-index: 2;
}
main .nineth .box1:hover ~ .box2 {
  left: 37%;
}
main .nineth .box1:hover ~ .box3 {
  left: 57%;
}
main .nineth .box1:hover ~ .box4 {
  left: 77%;
}
main .nineth .box2 {
  left: 20%;
  top: 0;
  z-index: 3;
}
main .nineth .box2:hover ~ .box3 {
  left: 57%;
}
main .nineth .box2:hover ~ .box4 {
  left: 77%;
}
main .nineth .box3 {
  left: 40%;
  top: 0;
  z-index: 4;
}
main .nineth .box3:hover ~ .box4 {
  left: 77%;
}
main .nineth .box4 {
  left: 60%;
  top: 0;
  z-index: 5;
}
main .works2 {
  grid-area: works2;
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 2rem;
  padding: 3rem 0;
  border-top: 1px solid rgb(29, 29, 27);
  border-bottom: 1px solid rgb(29, 29, 27);
}
main .works2 .fistwork {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 2rem;
  padding: 0 2rem 0 0;
}
main .works2 .fistwork .box {
  width: 100%;
  border: 1px solid rgb(29, 29, 27);
  overflow: hidden;
}
main .works2 .fistwork .box img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
main .works2 .fistwork .box img:hover {
  transform: scale(1.1);
}
main .works2 .fistwork .h1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .works2 .fistwork .h1 img {
  width: 5rem;
}
main .works2 .fistwork .h1 span {
  font-family: canopee;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: rgb(186, 50, 0);
  padding: 2px 3px 0px 3px;
  color: rgb(205, 198, 190);
  border-radius: 5px;
}
main .works2 .fistwork p {
  font-family: paper200;
  font-weight: 100;
  font-size: 1.2rem;
}
main .works2 .allworks {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-right: 1px solid rgb(29, 29, 27);
  border-left: 1px solid rgb(29, 29, 27);
}
main .works2 .allworks h1 {
  font-family: canopee;
  font-size: 4.5rem;
  color: rgb(29, 29, 27);
  position: relative;
}
main .works2 .allworks h1 span {
  font-family: spam;
}
main .works2 .allworks h1 svg {
  width: 80px;
  height: 70px;
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-20%, -50%);
  transform: scaleX(4);
}
main .works2 .allworks h1 svg circle {
  fill: none;
  stroke: black;
  stroke-width: 3;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  transition: stroke-dashoffset 2s linear;
}
main .works2 .allworks h1 svg:hover circle {
  stroke-dashoffset: 0;
}
main .works2 .allworks h4 {
  text-align: center;
  font-family: paper200;
  font-weight: 100;
  font-size: 2.5rem;
  padding: 0 2rem;
  line-height: 2.5rem;
}
main .works2 .allworks p {
  font-family: paper200;
  font-size: 1.3rem;
}
main .works2 .allworks p span {
  font-family: canopee;
  font-weight: 500;
  font-size: 1.5rem;
}
main .works2 .scondwork {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 2rem;
  padding: 0 0 0 2rem;
}
main .works2 .scondwork .box {
  width: 100%;
  border: 1px solid rgb(29, 29, 27);
  overflow: hidden;
}
main .works2 .scondwork .box img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
main .works2 .scondwork .box img:hover {
  transform: scale(1.1);
}
main .works2 .scondwork .h1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .works2 .scondwork .h1 img {
  width: 8rem;
}
main .works2 .scondwork .h1 span {
  font-family: canopee;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: rgb(186, 50, 0);
  padding: 2px 3px 0px 3px;
  color: rgb(205, 198, 190);
  border-radius: 5px;
}
main .works2 .scondwork p {
  font-family: paper200;
  font-weight: 100;
  font-size: 1.2rem;
}
main .email {
  grid-area: email;
  margin: 1rem 0;
  overflow: hidden;
  white-space: nowrap;
  height: 7rem;
  width: 100%;
  box-sizing: border-box;
}
main .email h1 {
  display: inline-block;
  font-family: paper400;
  font-weight: 100;
  font-size: 5.5rem;
  animation: scroll-left 4s linear infinite;
}
main .email h1 span {
  font-family: canopee;
  font-size: 6rem;
  letter-spacing: 0rem;
  line-height: 1;
  background-color: rgb(29, 29, 27);
  color: rgb(205, 198, 190);
  font-weight: 100;
  display: inline;
  line-height: 1;
  padding: 0.5rem 1rem 0 0.5rem;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
main .footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(29, 29, 27);
}
main .footer h1 {
  font-family: canopee;
  font-weight: 100;
  font-size: 1.5rem;
  margin: 2rem 1rem;
}
main .footer ul {
  display: flex;
  gap: 2rem;
}
main .footer ul li {
  font-family: canopee;
  font-weight: 100;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  main {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "works" "first" "third" "second" "forth" "fifth" "sixth" "seventh" "eight" "nineth" "works2" "email" "footer";
  }
  main .works {
    display: none;
  }
  main .first {
    margin-top: 2rem;
    width: 100%;
  }
  main .first h1 {
    margin-right: 2rem;
  }
  main .second {
    border-bottom: 1px solid rgb(29, 29, 27);
    border-right: none;
  }
  main .second h3 {
    font-size: clamp(15rem, 25vw, 35rem);
  }
  main .second h1 {
    font-size: clamp(25rem, 40vw, 55rem);
    margin: -5rem 0;
  }
  main .second .info p {
    font-size: 2.8rem;
  }
  main .second P {
    font-size: 2.8rem;
  }
  main .third {
    margin-left: 0;
    padding-bottom: 2rem;
  }
  main .third img {
    width: 97%;
  }
  main .third h3 {
    font-size: clamp(7rem, 13vw, 10rem);
  }
  main .forth {
    display: none;
  }
  main .fifth .text {
    flex-direction: column;
  }
  main .fifth .text .box1, main .fifth .text .box2 {
    width: 100%;
  }
  main .fifth .text .box1 {
    border: none;
  }
  main .fifth .text .box1 h1 {
    font-size: 17vw;
    text-align: center;
  }
  main .fifth .text .box1 h3 {
    font-size: 12vw;
  }
  main .fifth .text .box1 p {
    font-size: 5vw;
  }
  main .fifth .text .box2 h1 {
    font-size: 15vw;
  }
  main .fifth .text .box2 p {
    font-size: 5vw;
  }
  main .fifth > img {
    display: none;
  }
  main .sixth {
    display: none;
  }
  main .seventh {
    display: none;
  }
  main .eight {
    height: 100%;
  }
  main .eight .box1 {
    flex-direction: column-reverse;
    height: 55%;
    gap: 2rem;
  }
  main .eight .box1 .text {
    width: 100%;
    aspect-ratio: 0;
  }
  main .eight .box1 .text img {
    display: none;
  }
  main .eight .box1 .text h1 {
    font-size: 35vw;
  }
  main .eight .box1 .text h1 span {
    margin: 0;
  }
  main .eight .box1 .img {
    height: 100%;
    width: 100%;
  }
  main .eight .box1 .img img {
    height: 100%;
  }
  main .eight .box2 {
    height: 18%;
  }
  main .eight .box2 img {
    display: none;
  }
  main .eight .box2 h1 {
    font-size: 42vw;
  }
  main .eight .box3 {
    height: 25%;
    flex-direction: column-reverse;
  }
  main .eight .box3 .info h3 {
    font-size: 6vw;
  }
  main .eight .box3 .info h1 {
    display: none;
  }
  main .eight .box3 .info p {
    display: none;
  }
  main .eight .box3 h1 {
    font-size: 40vw;
  }
  main .nineth {
    margin-top: 7rem;
    height: 110vw;
  }
  main .nineth .box1, main .nineth .box2 {
    display: none;
  }
  main .nineth .box3, main .nineth .box4 {
    left: 0;
    width: 100%;
  }
  main .nineth .box3 p, main .nineth .box4 p {
    font-size: 3.5rem;
  }
  main .nineth .box3 .info h1, main .nineth .box4 .info h1 {
    font-size: 5rem;
  }
  main .nineth .box3 .info p, main .nineth .box4 .info p {
    font-size: 4rem;
  }
  main .nineth .box4 {
    top: 0;
    height: 45%;
  }
  main .nineth .box3 {
    top: 50%;
    height: 45%;
  }
  main .nineth .box3:hover ~ .box4 {
    left: 0;
  }
  main .works2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  main .works2 .fistwork {
    display: none;
  }
  main .works2 .allworks {
    border: none;
    gap: 3rem;
  }
  main .works2 .allworks h1 {
    font-size: 21vw;
  }
  main .works2 .allworks h1 svg {
    display: none;
  }
  main .works2 .allworks h4 {
    font-size: 7vw;
    line-height: 1;
  }
  main .works2 .allworks p {
    font-size: 5vw;
  }
  main .works2 .allworks p span {
    font-style: 5vw;
  }
}/*# sourceMappingURL=style.css.map */